ิ

.bill-p{
    font-size: 1rem;
}
.bill-button{
    background-color:#ccc;
    color: black;
    font-weight: normal;
}

.bill-divpage{
    border:1px gray solid;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 0.3rem;
    box-shadow: 5px 5px 20px white;
}
.bill-divpage:hover{
    border:var(--borderYellow);
}

.bill-buttonpage{
    color: black;
    font-weight: normal;
    margin:auto;
}